body {
    font-family: "Playwrite DE Grund", Arial, sans-serif;
    background-image: url("../images/collection_background.26d1dd785ab3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #ddd;
    width: 100%;
    margin-top: 62px;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid black;
}

.add-form {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
