<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recipes - {{object.name}}</title>
        <link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'recipes/css/detail.css' %}">
    </head>

    <body>
        <h1>Details: {{object.name}}</h1>
        
        <div class="container">
            <b>Ingredients: </b> {{object.ingredients}}

            <br>

            <b>Cooking Time (minutes): </b> {{object.cooking_time}}

            <br>

            <b>Difficulty: </b> {{object.difficulty}}

            <br>

            <img src="{{object.pic.url}}" alt="{{object.name}}">
        </div>
    </body>
</html>
