<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recipes - Login</title>
        <link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>

    <body>
        <div class="container">
            <h1>Login</h1>

            <!-- Checks for error message -->
            {% if error_message %}
                <p class="error">{{error_message}}</p>
            {% endif %}

            <form action="" method="POST" >
                <!-- Adds Django security token -->
                {% csrf_token %}   

                <!-- Defines form layout -->
                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>

                <br>

                <div class="form-group">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                </div>

                <br>

                <!-- Login button -->
                <button type="submit">Login</button>
            </form>
        </div>
    </body>
</html>
